*{
    font-family: monospace;
}

body {
    background-color: rgb(24, 24, 24);
    background-image: url(../images/hall.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
  }

  h1{
    color:rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    font-size: 100px;
    margin: auto;
    margin-top:10px;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

th{
    font-size: 40px;
    color: white;
}

th,
td{
    padding-left: 2em;
    padding-right: 2em;
    vertical-align: middle;
}

tr{
    row-gap: 100px;
    background-color: rgba(100, 100, 100, 0.452);
}

th{
    background-color: rgba(37, 37, 37, 0.753);
}

.health input,
.stats input{
    width: 65px;
    font-size: 40px;
}

.abilities textarea,
.backpack input,
.inventory input{
    width: 200px;
    font-size: 25px;
}

div .hero_name{
    margin-top: 20px;
}

#money_pouch{
    width: 100px
}

#home,
#hero{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 30px;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;
}

#home:hover{
    background-color:rgb(20, 220, 47);
    transition: 0.7s;
    color:rgb(255, 255, 255);
}

.backpack,
.modifiers,
.stats,
.inventory,
.character{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px
}

label{
    color: white;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

div .hero_backpack,
div .hero_abilities,
div .hero_stats,
div .hero_inv,
div .hero_name{
    font-size: 40px;
    color: gold;
    white-space: nowrap;
    padding: 10px;
    transition: 0.7s;
}

div .hero_backpack:hover,
div .hero_abilities:hover,
div .hero_stats:hover,
div .hero_inv:hover,
div .hero_name:hover{
    transform: scale(1.1);
    color: gold;
    white-space: nowrap;
    padding: 10px;
    transition: 0.7s;
}

#logout{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 30px;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;

}

#logout:hover{
    background-color:rgb(20, 173, 220);
    transition: 0.7s;
    color:rgb(255, 255, 255);
    transform: scale(1);
	animation: logout_pulse 2s infinite;
}

  img {
    margin: auto;
    padding: 20px;
    vertical-align: middle;
    transform: scale(1.15);
} 

p{
    color:white;
    font-size: 30px;
}





