*{
    font-family: monospace;
}

body {
    background-color: rgb(24, 24, 24);
  }

.login{
    background-image: url(../images/login.png);
    background-repeat:no-repeat;
    background-size: cover;
}

h1{
    color:rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    font-size: 100px;
    margin: auto;
}

th{
    font-size: 30px;
    color: white;
    white-space: nowrap;
    padding: 10px;
}

.health input,
.stats input{
    width: 70px;
    font-size: 40px;
}

.character input{
    width: 500px;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
}

.abilities textarea,
.backpack input{
    width: 200px;
    font-size: 25px;
}

.inventory input{
    font-size: 25px;
}

div .hero_name{
    margin-top: 20px;
}

#money_pouch{
    width: 100px
}


#special,
#inv,
#stat,
#pack{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-left: 20px;
    font-weight: 600;
}

.hero_inv,
.hero_stats,
.hero_backpack,
.hero_abilities{
    border: 2px solid white;
}

#home,
#hero,
#load,
#submit,
#reset{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 30px;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;
}

#submit:hover{
    background-color:gold;
    transition: 0.7s;
    color:rgba(255, 255, 255, 0.986);
}

#reset:hover{
    background-color:crimson;
    transition: 0.7s;
    color:rgba(255, 255, 255, 0.986);
}


#load:hover{
    background-color:rgb(20, 220, 47);
    transition: 0.7s;
    color:rgb(255, 255, 255);
}

#hero:hover{
    background-color:rgb(20, 220, 47);
    transition: 0.7s;
    color:rgb(255, 255, 255);
}

#home:hover{
    background-color:rgb(20, 220, 47);
    transition: 0.7s;
    color:rgb(255, 255, 255);
}


.pass{
    color: white;
    margin-top: 35%;
    text-align: center;
    font-size: 50px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.pass input{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: 70%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

#login{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 40px;
    transition: background-color 0.5s, color 0.5s, font-size 0.5s;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 3px solid white;
    background-color: rgba(43, 43, 43, 0.445);
}

#login:hover{
    background-color:gold;
    color:rgba(255, 255, 255, 0.986);
    transform: scale(1);
	animation: load_pulse 2s infinite;
    
}

.error {
    color: red;
    font-size: 40px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    display: flex;
    animation: error_pulse 2s infinite;
    align-items: center;
    justify-content: center;
}

@keyframes error_pulse {
	0% {
		color: rgb(255, 0, 0);
	}

	70% {
		color: transparent;
	}

	100% {
		color: rgb(255, 0, 0);
	}
}

#logout{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 30px;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;

}

#logout:hover{
    background-color:rgb(20, 173, 220);
    transition: 0.7s;
    color:rgb(255, 255, 255);
    transform: scale(1);
	animation: logout_pulse 2s infinite;
}

p{
    color:white;
    font-size: 30px;
}

/* Just wanted to mess with this figured I'd keep it in*/
/* @keyframes save_pulse {
	0% {
		background-color: gold;
	}

	70% {
		background-color: transparent;
	}

	100% {
		background-color: gold;
	}
}

@keyframes load_pulse {
	0% {
		background-color:rgb(20, 220, 47);
	}

	70% {
		background-color: transparent;
	}

	100% {
		background-color:rgb(20, 220, 47);
	}
}

@keyframes reset_pulse {
	0% {
		background-color: crimson;
	}

	70% {
		background-color: transparent;
	}

	100% {
		background-color: crimson;
	}
}

@keyframes logout_pulse {
	0% {
		background-color:rgb(20, 173, 220);
	}

	70% {
		background-color: transparent;
	}

	100% {
		background-color:rgb(20, 173, 220);
	}
} */




